.contenedor_class {
    display: flex;
    flex-direction: column;
    width: 100%;

    .contenedor_class_title {
        font-size: 2.5rem;
        padding: 1.5rem 3rem;
    }
}

.contenedor_double_class {
    display: flex;
    padding: .5rem 0rem;
    margin-bottom: .5rem;
}

.contenedor_double_left, .contenedor_double_right {
    border-radius: 10px;
    box-shadow: 2px 2px 12px 5px rgba(201,201,201,0.25);
    border-left: 5px solid #0466C8;
    flex-basis: 50%;
    margin: 0rem 1rem;
}

.contenedor_class_explication {
    border-radius: 10px;
    box-shadow: 2px 2px 12px 5px rgba(201,201,201,0.25);
    border-left: 5px solid #0466C8;
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem;
    margin-bottom: 1rem;
}

.contenedor_title {
    align-items: center;
    display: flex;
    padding: 1.5rem;
    padding-bottom: 0rem;

    h2 {
        font-size: 1.75rem;
    }
}

.title_icon {
    font-size: 2rem;
    margin-right: 1rem;
}

.list-icon {
    font-size: 1.5rem;
    margin: 0rem .75rem;
}

.contenedor_contenido {
    display: flex;
    padding-left: 1rem;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .contenedor_p {
        line-height: 1.75rem;
        padding: 1rem;
    }
}

.contenedor_explication, .contenedor_explication_code {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .contenedor_explication_left {
        align-self: center;
        flex-basis: 40%;
    
        .sub {
            padding-left: 2rem;
            text-align: justify;
        }
    }

    .contenedor_p {
        line-height: 1.75rem;
        padding: 1.75rem;
        text-align: justify;
    }

    .contenedor_explication_right {
        align-self: center;
        display: flex;
        flex-basis: 60%;
        justify-content:center;

        @media (max-width: 768px) {
            padding-bottom: 1rem;
        }
    }
}

.contenedor_explication_code {
    border: #F2F2F2 solid;
    border-radius: 10px;
    margin: 1rem;
}

.block_code {
    align-self: center;
    display: flex;
    flex-basis: 60%;
    justify-content:center;

    @media (max-width: 768px) {
        align-self: auto;
    }
}

.contenido_left, .contenido_right {
    border-radius: 5px;
    box-shadow: 2px 2px 12px 5px rgba(201,201,201,0.25);
    margin: 1rem 2rem;
}

.contenido_left {
    flex-basis: 50%;
    padding-top: .5rem;

    h4 {
        padding-top: 1rem;
        text-align: center;
    }
}

.contenido_right {
    display: flex;
    flex-basis: 50%;

    .explication_img {
        margin: 0 auto;
        width: 50%;
        
        @media (max-width: 768px) {
            width: 85%;
        }
    }
}

@media (max-width: 768px) {
    .contenedor_class {
        
    }

    .contenedor_double_class {
        flex-direction: column;
    }
}

.contenido-lista {
    list-style: none;
    margin: 1rem 0rem;
}

.contenido-lista-item {
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem;
}

.contenido-lista-item p {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .contenido-icons {
        font-size: 2rem;
    }

    .contenido-lista p {
        font-size: 12px;
    }
}

/* */

.contenedor_50 {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .contenedor_50_title {
        align-items: center;
        display: flex;
    }

    .contenedor_50_left, .contenedor_50_right {
        align-items: center;
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 1.5rem;

        .contenedor_p {
            line-height: 1.75rem;
            padding: 1rem;
        }

        .sub {
            padding-left: 2rem;
            text-align: justify;
        }

        .sub:before {
            content: '✓';
            margin-right: 1rem;
        }
    }

}