.wrapper {
  position: relative;
  background-color: #001233;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  font-family: "Lato", sans-serif;

  .signUpFormWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .signUpForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(151, 157, 172, 0.5);
      border-radius: 5px;
      padding: 2rem;

      .header {
        color: #001233;
        font-size: 1.5rem;
      }

      .innerWrapper {
        margin: auto;
        display: flex;
        flex-direction: column;
      }

      input {
        margin-top: 2rem;
        padding: 0.5rem;
      }

      input::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
      }

      input::focus {
        outline: none;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"] {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid white;
        color: white;
        font-size: 1rem;
      }

      input[type="submit"] {
        background-color: lighten($color: #0466c8, $amount: 5);
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        transition: background-color 1s ease;

        &:hover {
          cursor: pointer;
          background-color: darken($color: #0466c8, $amount: 5);
        }
      }
    }
  }
}
